* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 80vh;
    background-image: url(/image/home.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #09b906;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 40px;
}

.header-text h1 {
    margin-top: 20px;
    font-size: 60px;
}

.header-text h1 span {
    color: #ff004f;
}
.rit{
    text-align: center;
    margin-top: 30px;
    font-size: larger;
}
.a1{
    border: 15px solid rgb(133, 75, 133);
    border-radius: 10px;
    background-color: beige;
    padding: 9px;
    text-align: center;
    margin: 50px 500px 40px;
    box-shadow: 10px 10px 10px rgb(14, 40, 191);
}
.a2{
    border: 15px solid rgb(133, 75, 133);
    border-radius: 10px;
    background-color: beige;
    padding: 9px;
    text-align: center;
    margin: 50px 400px 40px;
    box-shadow: 10px 10px 10px rgb(14, 40, 191);
}
.a3{
    border: 15px solid rgb(133, 75, 133);
    border-radius: 10px;
    background-color: beige;
    padding: 9px;
    text-align: center;
    margin: 50px 300px 40px;
    box-shadow: 10px 10px 10px rgb(14, 40, 191);
}
.a4{
    border: 15px solid rgb(133, 75, 133);
    border-radius: 10px;
    background-color: beige;
    padding: 9px;
    text-align: center;
    margin: 50px 200px 40px;
    box-shadow: 10px 10px 10px rgb(14, 40, 191);
}
.a5{
    border: 15px solid rgb(133, 75, 133);
    border-radius: 10px;
    background-color: beige;
    padding: 9px;
    text-align: center;
    margin: 50px 100px 40px;
    box-shadow: 10px 10px 10px rgb(14, 40, 191);
}

.three{
    height:440px;
    background-color: #fefef9;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.aa{
    margin: 15px;
    background-color: rgb(30, 30, 107);
    color: aliceblue;
    padding: 30px;
    border-radius: 60px;
}

.aa h2{
    text-align: center;
    font-size: 40px;
}

img {
    border-radius: 50%;
}

.profile{
    text-align: center;
    background-color: rgb(123, 155, 71);
    border-radius: 20px;
    margin: 5px 650px 10px;
    color: #d00505;
}

.avatar {
    vertical-align: middle;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 30px;
  }

  .people{
    height:350px;
    background-color: #d5d51a;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #09b906;
    text-align: center;
  }

  .people h3{
    text-align: center;
    font-size: 25px;
  }

  .btn{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #0892e1;
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 30px;
  }
  .people button:hover {
    background-color: #5908ee;
    color: rgb(112, 189, 40);
  }
  .newspaper {
    column-count: 5;
    margin: 100px 150px 100px;
    justify-content: space-between;
    color: rgb(250, 244, 244);
  }

  /* ................................. form .............................  */
  label{
    display: block;
    margin-bottom: 15px;
    text-align: center;
    color: #f9fcfd;
    background-color: #1a1291;
  }

  fieldset{
    width: fit-content;
    margin-left: 650px;
    /* margin-right: 400px; */
  }

  /* ................................. table ....................  */
  table{
    border-collapse: collapse;
    margin-left: 200px;
    margin-bottom: 40px;
    background-color: #0e7567;
  }
  td, th{
    border: 5px solid rgb(254, 253, 253);
    padding: 15px 30px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }




  /* footer p{
    text-align: center;
    background-color: #a8aba8;
    color: rgb(4, 1, 14);
    padding: 10px;
    margin: 0px 610px 0px;
} */
.coppyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.coppyright i {
    color: #ff004f;
}